extends layout

block content
    h1 ID: #{bookInstance.id}


    p Do you really want to delete this Bookinstance?

    form(method='POST' action='')
        div.form-group
            input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', required='true', value=bookInstance.id )

        button.btn.btn-primary(type='submit') Delete
